* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 5px;
}
.margin {
  margin-left: 350px;
  width: 600px;
  background: orange;
  padding-bottom: 30px;
  padding-right: 30px;
}
.margin p {
  margin: 0px 30px 5px 0px;
}
.border {
  background: yellow;
  margin-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}
.border p {
  margin: 0px 30px 5px 0px;
}
.padding {
  background: lime;
  margin-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}
.padding p {
  margin: 0px 30px 5px 0px;
}
.content {
  margin-left: 30px;
  width: 757px;
  background: lightblue;
  width: 90%;
  padding: 0px 0px 40px 0px;
  padding-bottom: 30px;
}
.content p {
  margin-bottom: 40px;
}
img {
  width: 100%;
}
